<section>
  <div class="whats-inside-section-content">
    <div class="whats-inside-top-container">
      <div class="whats-inside-column"></div>
      <div class="whats-inside-column"></div>
      <div class="whats-inside-column"></div>
    </div>
    <div class="whats-inside-bottom-container"></div>
  </div>
</section>
{% schema %}
{
  "name": "Custom What's Inside",
  "settings": [],
  "presets": [
    {
      "name": "Custom What's Inside"
    }
  ]
}
{% endschema %}
